*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.ww{
    font-size: 30px;
    margin-top: 10px;
margin-left: 90%;
   
}

.slider{

    width: auto;
    height: 550px;
}






.gimage{
    width: 1200px;
    height: 200px;
    
}
.gimg{
 width: 1200px;
 height: 125px;
 margin-top: 30px;
 margin-left: 30px;
 position: absolute;
 transform: translate(-50%,-50%);
 background-color: rgba(255, 240, 250, 0.534);
 color: black;
 top: 90px;
 left: 50%;
 font-size: 15px;
}
.menubar{
 width: 990px;
 height: 50px;
 margin-top: 40px;

 background-color: rgba(72, 74, 71, 0.174);
 float: right;
 margin-right: 70px;
}
.menus{
    width: 120px;
    height: 50px;
    margin: 10px 0 0 10px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: black;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.menus:hover{
    color: red;
}
.logo{
   width: 50px;
   height: 100px;
  
   border-radius: 50%; 
   float: left;
   margin: 10px;
}

.text{
    width: 1000px;
    position: absolute;
    top: 300px;
    font-size: 70px;
    transform: translate(-50%,-50%);
    left: 50%;
    color: rgb(247, 148, 112);
    text-align: center;
    text-transform: capitalize;
 }
 .logo img{
    border-radius: 50px;
 }
 .advhead{
    text-align: center;
    text-decoration: dashed;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 30px
    
 }

 .mainbody{
   background-color:rgb(244, 243, 227);
 }
  .adventurepara{
    
    position: absolute;
    left: 100px;
    right: 100px;
    
    font-weight: 400;
 text-transform: capitalize;
  font-size: 23.2px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.cardcontainer{
    height: 4620px;
    width: 100%;
    margin-top: 250px;
   
}
.firstcarddiv{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    

}
.cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-width: 70%;
    height: 450px;
    width: 600px;
    margin: 50px;
    background-color: #f8e2be;
    border: 2px solid white;
}
a .heading3{
font-weight: 900;
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
color: rgb(0, 0, 0);
text-transform: capitalize;
margin: 10px;
}
.cardcontent a{
    text-decoration: none;
}
.heading3:hover{
cursor: pointer;
color: rgb(101, 101, 255);
}
.cardcontent p{
    font-size: 15px;
    font-family: serif;
    font-style: italic;
    font-weight: 700;
    padding: 5px;
    line-height: 20px;
    margin: 10px;
    color: rgb(29, 28, 28);
}
.footercontainer{
    height: 270px;
    background-color:#232f3e;
    display: flex;
    justify-content: space-evenly;
}
.content{
    margin: 12px;
    font-weight: 300px;   
}
.content h2{
    color: #ffffff;
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
}
.content p{
color:#adb5bd;
font-size: 20px;
margin-top: 10px;
font-weight: 300px;

}
.content a{
background-color:#f5f6fa;
height: 100%;
width: 100%;
border-radius: 50%;
margin:12px;
padding: 5px;
}
.fa-instagram{
color: #e84393;
}
.fa-facebook{
    color: rgb(71, 71, 232);
}
.fa-twitter{
    color: #0097e6;
}
.fa-youtube{
    color: #e84118;
}
.content i{
    font-size: 15px;
}
.content i{
    margin-top: 12px;
}
.copyrighttext{
    width: 100%;
    background-color:#232f3e;
    padding:20px 100px 30px;
    text-align: center;
    color:black;
}
.copyrighttext p{
    font-size: 1rem;
    color: #adbfbd;
}

